
sprd/modules/wcn/bt/dirver/tty/.*.cmd
sprd/modules/wcn/bt/dirver/tty/alignment/*.o
sprd/modules/wcn/bt/dirver/tty/alignment/*.cmd
sprd/modules/wcn/bt/dirver/tty/sprdbt_tty.ko
sprd/modules/wcn/bt/dirver/tty/sprdbt_tty.mod.c
sprd/modules/wcn/bt/dirver/tty/*.o
sprd/modules/wcn/bt/dirver/tty/sprdbt_tty.o
sprd/modules/wcn/fm/driver/.*.cmd
sprd/modules/wcn/fm/driver/*.o
sprd/modules/wcn/fm/driver/sprd_fm.ko
sprd/modules/wcn/fm/driver/sprd_fm.mod.c

sprd/external/drivers/gpu/midgard/mali/*.o.cmd
sprd/external/drivers/gpu/midgard/mali/backend/gpu/*.o.cmd
sprd/external/drivers/gpu/midgard/mali/.mali.ko.cmd
sprd/external/drivers/gpu/midgard/mali/.tmp_versions/
sprd/external/drivers/gpu/midgard/mali/Module.symvers
sprd/external/drivers/gpu/midgard/mali/mali.ko
sprd/modules/wcn/wlan/sc2332/.tmp_versions/
sprd/modules/wcn/wlan/sc2332/*.o.cmd
sprd/modules/wcn/wlan/sc2332/sprdwl_ng.ko
sprd/modules/wcn/bt/dirver/tty-sipc/sprdbt_tty.ko
sprd/modules/wcn/fm/driver/fm_sipc/sprd_fm.ko
sprd/proprietories-source/packimage_scripts/signimage/sprd/mkdbimg/bin/*.bin
sprd/proprietories-source/packimage_scripts/signimage/sprd/mkdbimg/bin/mkdbimg
sprd/proprietories-source/packimage_scripts/signimage/sprd/mkprimarycert/bin/
sprd/tools/MUITools/MUI_ResExport/strawberry-perl-5.20.1.1-32bit.msi
*.pac

