service factorytest /system/bin/factorytest
    user root
    group root sdcard_rw

service console-ft /system/bin/sh
    console
    user root
    group root
    seclabel u:r:shell:s0

on property:ro.bootmode=factorytest
    class_start early_hal
    class_start hal
    setprop persist.ylog.enabled 1
    start ylog
    start slogmodem
    start hwservicemanager
    start console-ft
    start debuggerd
    start debuggerd64
    start modem_control
    start logd
    start gnss_download
    start audioserver
    start media
    start wcnd
    start wcnd_eng
    start gpsd
    start servicemanager
    start wificond
    start factorytest